@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(52, 73, 74);
    max-width: 425px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}